/*
to do:
 - have "REEEEEEEEAL CARDIAC" added onto some part of the page on the bottom
 - crossed out sgrub upsilon
 - change font from comfortaa to something different maybe
 - embedded canvas animation?
*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

header .mspfalogo {
    background-image: url("/mortis-natus.github.io/mspfa/other/innuendo_mortis.png");
    border-color: #19153a;
}

footer .mspfalogo {
    background-image: url("/mortis-natus.github.io/mspfa/other/logoedit_mortis.png");
    border-color: #19153a;
}

.um {
  opacity: 0.5;
  transition: opacity 0.1s ease-out;
}

.um:hover {
  opacity: 1;
}

.cellicon {
  opacity: 0.5;
  transition: opacity 0.1s ease-out;
  filter: hue-rotate(140deg);
}

.cellicon:hover {
  opacity: 1;
}

#flashytitle {
  background-color: #19153a;
  background-image: url("/mortis-natus.github.io/mspfa/other/flashy-title-edit.png");
}

nav {
  background-color: #333272;
}

nav a[href="/"], nav a[href="/stories/"], nav a[href="/stats/"], nav a[href="https://discord.gg/EC5acgG"], nav a[href="/donate/"] {
  color: #79bd9a !important;
}

nav a[href="http://www.mspaintadventures.com/"], nav a[href="/random/"], nav a[href="/my/"], nav a[href="mailto:support@mspfa.com"] {
  color: #dcffe6 !important;
}

div.heart {
  background-image: url("/mortis-natus.github.io/mspfa/other/mortis-star.png");
}

body {
  background-color: #03001B;
  color: #605ebf;
  font-family: Comfortaa;
  font-weight: 700;
}

#main, tbody {
  background-color: #19153a;
}

table.container {
  border: 5px solid #252056;
}

table.container > tbody > tr > td, table.container > tbody > tr > th {
  border: 5px solid #19153a;
}

td[rowspan="5"] {
  background-color: #19153a;
}

tr, td, th {
  background-color: #252056;
}

h3.major.alt {
  color: #333272;
  text-shadow: 0 2px #19153a;
}

h3.major.alt::after{
  content: "!!!";
}

.major {
  color: #333272;
  text-shadow: 0 2px #252056;
}

input#userid {
  background-color: rgba(0,0,0,0);
  border: none;
  color: #dcffe6;
}

span#userstatus {
    color: #79bd9a;
}

a#usersite {
  color: #2c977f;
}

a#usersite:hover {
  color: #79bd9a;
}

input.major[type="button"] {
  background-color: #19153a;
  border-color: #19153a;
}

input.major[type="button"]:enabled:active {
  background-color: #19153a;
  border-color: #19153a;
}

div#details {
  color: #dcffe6;
}

div#details a {
  color: #2c977f;
}

#notification {
  background-color: #3b8686;
}

::selection {
  background-color: #77ffc6;
  color: #77ffc6;
}

form#dialog {
  background-color: #252056;
  border-color: #19153a;
}

form#dialog .major{
  background-color: #19153a;
  border-color: #605ebf #252056 #252056 #605ebf;
}

#loading {
  filter: brightness(0.75) saturate(0) contrast(1) grayscale(0%) sepia(100%) hue-rotate(90deg);
}
